.quiz-question-cl-animation,
.quiz-question-rc-animation,
.quiz-question-lc-animation,
.quiz-question-cr-animation {
    position: absolute;
    width: 100%;
}

.quiz-question-cl-animation {
    animation: quiz-question-cl-animation 0.25s linear 1;
}

.quiz-question-lc-animation {
    animation: quiz-question-cl-animation 0.25s linear 1 reverse;
}

@keyframes quiz-question-cl-animation {
    from {
        right: 0;
        opacity: 1;
    }
    80% {
        opacity: 0.1;
    }
    to {
        right: 15px;
        opacity: 0;
    }
}

.quiz-question-rc-animation {
    animation: quiz-question-rc-animation 0.25s linear 1;
}

.quiz-question-cr-animation {
    animation: quiz-question-rc-animation 0.25s linear 1 reverse;
}

@keyframes quiz-question-rc-animation {
    from {
        right: -5px;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}