.quiz {
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 18px;
    --font-size-xl: 28px;

    --space-xxs: 4px;
    --space-xs: 5px;
    --space-s: 8px;
    --space-m: 12px;
    --space-l: 16px;
    --space-xl: 24px;
    --space-xxl: 32px;

    --color-1: #363636;
    --color-2: #909090;
    --color-3: #D9D9D9;
    --color-4: #F8F8F8;
    --color-5: #FFFFFF;
    --color-6: #FFAA00;
    --color-7: #FFC44D;
    --color-8: #E6E6E6;
    --color-9: #737373;
    --color-10: #FFAA00;
    --color-11: #FFEECC;
}

@font-face {
    font-family: "GilroyBold";
    src: url("./gilroy-bold.woff2") format("woff2");
}

@font-face {
    font-family: "GilroyMedium";
    src: url("./gilroy-medium.woff2") format("woff2");
}

@font-face {
    font-family: "GilroyRegular";
    src: url("./gilroy-regular.woff2") format("woff2");
}